# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Java / Maven
target/
*.class

# IDE
.idea/
.vscode/
*.iml

# Environment files
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# OS files
.DS_Store
Thumbs.db

# Logs
*.log